<h1>fsdjflsjdf</h1>
<p>
  <strong>Appointment date:</strong>
<%= form_with(model: @appointment) do |form| %>
 

  <div class="field">
    <%= form.label :appointment_date %>
    <%= form.datetime_select :appointment_date %>
  </div>  
  <div class="field">
    <%= form.label :doctor_id %>
    <%= form.text_field :doctor_id, value:@did %>
  </div>  
  <div class="field">
    <%= form.label :patient_id %>
    <%= form.text_field :patient_id, value:@pid %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

</p>